body{
    background-image: url('storyline/mobile_background.png');
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Maitree', Arial, sans-serif;
}
.scroll-down-arrow {
    position: fixed;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 24px; 
    animation: bounce 2s infinite; 
    z-index: 1000;
    width: 15%;
}
    
    
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
    }
    40% {
    transform: translateX(-50%) translateY(-20px);
    }
    60% {
    transform: translateX(-50%) translateY(-10px);
    }
}
.container {
    background-color: white;
    background-repeat: no-repeat;
    padding: 20px; /* Adjust padding as needed */
    width: 80%; /* Adjust width as needed */
    margin: 40px auto; /* Centers the container */
    color: black; /* Adjust text color as needed */
    border: 2px solid #000; /* Optional border */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* Optional shadow for effect */
}
h3{
    text-align: center;
    margin: 0;
}
h5{
    text-align: center;
    margin: 0;
}
.button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.image-container{
    margin: 0;
}

.responsive-image {
    width: 100%; /* This will make the image full width of the screen on mobile */
    height: auto; /* This will keep the aspect ratio of the image */
    display: block; /* This will prevent inline spacing */
    margin: 0 auto; /* These two margins allow the image to be centered horizontally */
    padding: 0;
    object-fit: contain;
  }
  .scene {
    width: 100%; /* This will make the image full width of the screen on mobile */
    height: auto; /* This will keep the aspect ratio of the image */
    display: block; /* This will prevent inline spacing */
    margin: 0 auto; /* These two margins allow the image to be centered horizontally */
    padding: 0;
    object-fit: contain;
}

  @media (min-width: 992px) { /* This media query applies styles for screens that are wider than 992px */
    .responsive-image {
      width: 500px; /* This will fix the width of the image to 1000px on desktop screens */
    }
    body {
        background-image: url('storyline/background.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed; /* Make the background image fixed */
      }
      .scroll-down-arrow {
        width: 5%; /* Fixed width for larger screens */
    }
    .container{
        width: 40%;
    }
    .scene{
        width: 50%; 
        height: 1000px; 
        float: left;
    }
  }